body{
	background-color: #f1f1f1;
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
	box-sizing: inherit;
}
.titleblog{
	width: 60%;
	box-shadow: 8px 8px 15px #888888;
	float: left;
	background-color: #fff;
	color: #000;
	margin-left: 50px;
	margin-bottom: 40px;
}
.imgblog{
	width: 100%;
}
header{
	text-align: center;
	padding-top: 32px;
	padding-bottom: 32px;
}
h1{
	font-weight: 400;
	font-size: 36px;
	margin: 10px 0;
}
#unknown{
	background-color: black;
	color: white;
	padding: 2px 8px 3px 8px;
}
.readmore{
	border: 1px solid #ccc;
	padding: 12px 24px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	font-family: inherit;
	font-size: inherit;
	background-color: #fff;
}
.readmore:hover{
	color: #000;
	background-color: #ccc;
}
aside{
	width: 30%;
	float: right;
	margin-right: 50px;
}
.innerdiv{
	box-shadow: 8px 8px 15px #888888;
	padding-bottom: 20px;
	background-color: #fff;
	color: #000;
	margin-bottom: 60px;
}
footer{
	float: left;
	background-color: #616161;
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
	margin-top: 16px;
	padding: 16px;
	display: block;
	box-sizing: inherit;
	color: #ffffff;
}
div{
	display: block;
}
.inner{
	margin: 16px;
}
.button{
	padding: 12px 24px;
	margin-bottom: 16px;
	color: #ffffff;
    background-color: #000000;
    border: none;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}
.button:hover{
	background-color: #f1f1f1;
	color: black;
}
.disabled{
	cursor: not-allowed;
	opacity: 0.6;
}
a{
	text-decoration: none;
}
#unknown2{
	background-color: #f1f1f1;
	color: black;
	padding: 2px 8px 3px 8px;
}
.grey{
	background-color: #f1f1f1;
	padding: 15px;
	width: 100%;
}
.img{
	width: 100%;
}